interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/octocat/Hello-World
  response:
    body:
      string: '{"id":1296269,"node_id":"MDEwOlJlcG9zaXRvcnkxMjk2MjY5","name":"Hello-World","full_name":"octocat/Hello-World","private":false,"owner":{"login":"octocat","id":583231,"node_id":"MDQ6VXNlcjU4MzIzMQ==","avatar_url":"https://avatars.githubusercontent.com/u/583231?v=4","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/octocat/Hello-World","description":"My
        first repository on GitHub!","fork":false,"url":"https://api.github.com/repos/octocat/Hello-World","forks_url":"https://api.github.com/repos/octocat/Hello-World/forks","keys_url":"https://api.github.com/repos/octocat/Hello-World/keys{/key_id}","collaborators_url":"https://api.github.com/repos/octocat/Hello-World/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/octocat/Hello-World/teams","hooks_url":"https://api.github.com/repos/octocat/Hello-World/hooks","issue_events_url":"https://api.github.com/repos/octocat/Hello-World/issues/events{/number}","events_url":"https://api.github.com/repos/octocat/Hello-World/events","assignees_url":"https://api.github.com/repos/octocat/Hello-World/assignees{/user}","branches_url":"https://api.github.com/repos/octocat/Hello-World/branches{/branch}","tags_url":"https://api.github.com/repos/octocat/Hello-World/tags","blobs_url":"https://api.github.com/repos/octocat/Hello-World/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/octocat/Hello-World/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/octocat/Hello-World/git/refs{/sha}","trees_url":"https://api.github.com/repos/octocat/Hello-World/git/trees{/sha}","statuses_url":"https://api.github.com/repos/octocat/Hello-World/statuses/{sha}","languages_url":"https://api.github.com/repos/octocat/Hello-World/languages","stargazers_url":"https://api.github.com/repos/octocat/Hello-World/stargazers","contributors_url":"https://api.github.com/repos/octocat/Hello-World/contributors","subscribers_url":"https://api.github.com/repos/octocat/Hello-World/subscribers","subscription_url":"https://api.github.com/repos/octocat/Hello-World/subscription","commits_url":"https://api.github.com/repos/octocat/Hello-World/commits{/sha}","git_commits_url":"https://api.github.com/repos/octocat/Hello-World/git/commits{/sha}","comments_url":"https://api.github.com/repos/octocat/Hello-World/comments{/number}","issue_comment_url":"https://api.github.com/repos/octocat/Hello-World/issues/comments{/number}","contents_url":"https://api.github.com/repos/octocat/Hello-World/contents/{+path}","compare_url":"https://api.github.com/repos/octocat/Hello-World/compare/{base}...{head}","merges_url":"https://api.github.com/repos/octocat/Hello-World/merges","archive_url":"https://api.github.com/repos/octocat/Hello-World/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/octocat/Hello-World/downloads","issues_url":"https://api.github.com/repos/octocat/Hello-World/issues{/number}","pulls_url":"https://api.github.com/repos/octocat/Hello-World/pulls{/number}","milestones_url":"https://api.github.com/repos/octocat/Hello-World/milestones{/number}","notifications_url":"https://api.github.com/repos/octocat/Hello-World/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/octocat/Hello-World/labels{/name}","releases_url":"https://api.github.com/repos/octocat/Hello-World/releases{/id}","deployments_url":"https://api.github.com/repos/octocat/Hello-World/deployments","created_at":"2011-01-26T19:01:12Z","updated_at":"2026-02-10T11:51:56Z","pushed_at":"2024-08-20T23:54:42Z","git_url":"git://github.com/octocat/Hello-World.git","ssh_url":"git@github.com:octocat/Hello-World.git","clone_url":"https://github.com/octocat/Hello-World.git","svn_url":"https://github.com/octocat/Hello-World","homepage":"","size":1,"stargazers_count":3490,"watchers_count":3490,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":5791,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3348,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":5791,"open_issues":3348,"watchers":3490,"default_branch":"master","temp_clone_token":null,"network_count":5791,"subscribers_count":1729}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a7bf926b20bb2e7ef8a0a22609fc1d09d33ff202af2ea57a16ecfb69a4b7e61f"
      Last-Modified:
      - Tue, 10 Feb 2026 11:51:56 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '59'
      X-RateLimit-Reset:
      - '1770749098'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/octocat/Hello-World/pulls/1
  response:
    body:
      string: "{\n  \"url\": \"https://api.github.com/repos/octocat/Hello-World/pulls/1\",\n
        \ \"id\": 140900,\n  \"node_id\": \"MDExOlB1bGxSZXF1ZXN0MTQwOTAw\",\n  \"html_url\":
        \"https://github.com/octocat/Hello-World/pull/1\",\n  \"diff_url\": \"https://github.com/octocat/Hello-World/pull/1.diff\",\n
        \ \"patch_url\": \"https://github.com/octocat/Hello-World/pull/1.patch\",\n
        \ \"issue_url\": \"https://api.github.com/repos/octocat/Hello-World/issues/1\",\n
        \ \"commits_url\": \"https://api.github.com/repos/octocat/Hello-World/pulls/1/commits\",\n
        \ \"review_comments_url\": \"https://api.github.com/repos/octocat/Hello-World/pulls/1/comments\",\n
        \ \"review_comment_url\": \"https://api.github.com/repos/octocat/Hello-World/pulls/comments{/number}\",\n
        \ \"comments_url\": \"https://api.github.com/repos/octocat/Hello-World/issues/1/comments\",\n
        \ \"statuses_url\": \"https://api.github.com/repos/octocat/Hello-World/statuses/7044a8a032e85b6ab611033b2ac8af7ce85805b2\",\n
        \ \"number\": 1,\n  \"state\": \"closed\",\n  \"locked\": false,\n  \"title\":
        \"Edited README via GitHub\",\n  \"user\": {\n    \"login\": \"unoju\",\n
        \   \"id\": 777449,\n    \"node_id\": \"MDQ6VXNlcjc3NzQ0OQ==\",\n    \"avatar_url\":
        \"https://avatars.githubusercontent.com/u/777449?v=4\",\n    \"gravatar_id\":
        \"\",\n    \"url\": \"https://api.github.com/users/unoju\",\n    \"html_url\":
        \"https://github.com/unoju\",\n    \"followers_url\": \"https://api.github.com/users/unoju/followers\",\n
        \   \"following_url\": \"https://api.github.com/users/unoju/following{/other_user}\",\n
        \   \"gists_url\": \"https://api.github.com/users/unoju/gists{/gist_id}\",\n
        \   \"starred_url\": \"https://api.github.com/users/unoju/starred{/owner}{/repo}\",\n
        \   \"subscriptions_url\": \"https://api.github.com/users/unoju/subscriptions\",\n
        \   \"organizations_url\": \"https://api.github.com/users/unoju/orgs\",\n
        \   \"repos_url\": \"https://api.github.com/users/unoju/repos\",\n    \"events_url\":
        \"https://api.github.com/users/unoju/events{/privacy}\",\n    \"received_events_url\":
        \"https://api.github.com/users/unoju/received_events\",\n    \"type\": \"User\",\n
        \   \"user_view_type\": \"public\",\n    \"site_admin\": false\n  },\n  \"body\":
        \"\",\n  \"labels\": [],\n  \"milestone\": null,\n  \"active_lock_reason\":
        null,\n  \"created_at\": \"2011-05-09T19:10:00Z\",\n  \"updated_at\": \"2026-02-10T04:04:44Z\",\n
        \ \"closed_at\": \"2011-05-18T20:00:25Z\",\n  \"merged_at\": null,\n  \"merge_commit_sha\":
        \"f13731c44acf96f2e5d6f0080f54e09215e36248\",\n  \"assignee\": null,\n  \"assignees\":
        [],\n  \"requested_reviewers\": [],\n  \"requested_teams\": [],\n  \"head\":
        {\n    \"label\": \"unoju:patch-1\",\n    \"ref\": \"patch-1\",\n    \"repo\":
        {\n      \"id\": 1724195,\n      \"node_id\": \"MDEwOlJlcG9zaXRvcnkxNzI0MTk1\",\n
        \     \"name\": \"Hello-World\",\n      \"full_name\": \"unoju/Hello-World\",\n
        \     \"owner\": {\n        \"login\": \"unoju\",\n        \"id\": 777449,\n
        \       \"node_id\": \"MDQ6VXNlcjc3NzQ0OQ==\",\n        \"avatar_url\": \"https://avatars.githubusercontent.com/u/777449?v=4\",\n
        \       \"gravatar_id\": \"\",\n        \"url\": \"https://api.github.com/users/unoju\",\n[...]
