interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/rate_limit
  response:
    body:
      string: '{"resources":{"code_search":{"limit":60,"remaining":56,"reset":1770749098,"used":4,"resource":"code_search"},"core":{"limit":60,"remaining":56,"reset":1770749098,"used":4,"resource":"core"},"graphql":{"limit":0,"remaining":0,"reset":1770749101,"used":0,"resource":"graphql"},"integration_manifest":{"limit":5000,"remaining":5000,"reset":1770749101,"used":0,"resource":"integration_manifest"},"search":{"limit":10,"remaining":10,"reset":1770745561,"used":0,"resource":"search"}},"rate":{"limit":60,"remaining":56,"reset":1770749098,"used":4,"resource":"core"}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '56'
      X-RateLimit-Reset:
      - '1770749098'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '4'
    status:
      code: 200
      message: OK
version: 1
